<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div id="container">
    <strong>Primeiro Projeto no Ionic 7</strong><br><br>
    <img src="../assets/img/minhafoto.jpeg" width="200"><br>
    
    <br><strong><p>Nome: Gabriel Santos de Barros</p></strong>
    <strong><p>Código da Turma: ADS0301N</p></strong>
    
    
  </div>
  
</ion-content>
